html {
  font-size: 62.5%;
}

body {
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

#content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;

  max-width: 96rem;
  margin: 0 auto;
}

#content div {
  padding: 3rem;
  color: #fff;
  font-size: 3.75rem;

  /* display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; */
}

#content div:nth-child(odd) {
  background-color: #3bbced;
}

#content div:nth-child(even) {
  background-color: salmon;
}

/* Relevant code */
.nested {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  /* NOTE: Ninja also introduces the span keyword */
  grid-column: 1 / span 3;
  /* we can also just put "span 3". this will start at the default start position */
}

.nested p {
  border: 1px solid #fff;
  padding: 2rem;
  margin: 0;
}
