html {
  font-size: 62.5%;
}

body {
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

#content {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, minmax(15rem, auto));
  gap: 3rem;

  max-width: 96rem;
  margin: 0 auto;
}

#content div {
  padding: 3rem;
  color: #fff;
  font-size: 3.75rem;

  /* Le cod dessous sert a centraliser le texte des chiffres */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#content div:nth-child(odd) {
  background-color: #3bbced;
}

#content div:nth-child(even) {
  background-color: salmon;
}

.un {
  grid-column: 1 / 3;
}

.deux {
  grid-column: 3 / 7;
}

.trois {
  grid-column: 1 / 4;
  grid-row: 2 / 4;
}

.nne {
  grid-column: 4 / -1;
  grid-row: 2 / 4;
}

.tano {
  grid-column: 3 / -1;
}

.six {
  grid-column: 1 / 3;
  grid-row: 4 / -1;
}
