:root{
  --taille-police-universel: 62.5%;
  --taille-police-defaut: 1.6rem;

  --noir: #000;
  --blanc: #FFF;
  --bleu-celeste: #3bbced;
  --saumon-rouge: #fa8072;
}


html,
body {
  width: 100%;
  height: 100%;
}

html {
  font-size: var(--taille-police-universel);
}

body {
  font-size: var(--taille-police-defaut);
  color: var(--blanc);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

#content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: minmax(10rem, auto);
  gap: 1rem;
  
  max-width: 96rem;
  margin: 0 auto;
}

#content > * {
  padding: 3rem;
  background-color: var(--bleu-celeste);
}

header {
  grid-column: 1 / -1;
}

main {
  grid-column: 4 / -1;
  grid-row: 2 / 4;
}

aside {
  grid-column: 1 / 4;
}

section {
  grid-column: 1 / -1;
  grid-row: 4 / 6;
}

nav {
  grid-column: 1 / 4;
}

footer{
  grid-column: 1 / -1;
}
