:root{
  --taille-police-defaut: 62.5%;

  --noir: #000;
  --blanc: #FFF;
  --bleu-celeste: #3bbced;
  --saumon-rouge: #fa8072;
}

html {
  font-size: var(--taille-police-defaut);
}

body {
  color: var(--noir);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

html,
body {
  width: 100%;
  height: 100%;
}

#content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(15rem, auto);
  grid-gap: 1.5rem;
  max-width: 96rem;
  margin: 0 auto;
}

#content div {
  padding: 3rem;
  color: var(--blanc);
  font-size: 3.75rem;
}

.un {
  place-self: end;
}

.deux {
  place-self: center;
}

.trois {
  place-self: start;
}

#content div:nth-child(odd) {
  background-color: var(--bleu-celeste);
}

#content div:nth-child(even) {
  background-color: var(--saumon-rouge);
}
